@charset "UTF-8";

/* ----------------------------------------------------------------------------------------------------
 *  1.基本情報
 * --------------------------------------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: "DIN";
    font-weight: 400;
    src: url("../fonts/DIN-Regular.ttf");
}

@font-face {
    font-family: "Helvetica";
    font-weight: 700;
    src: url("../fonts/Helvetica-Bold.ttf");
}

@font-face {
    font-family: "Hiragino Kaku Gothic stdN W3";
    src: url("../fonts/Hiragino-Kakugo-StdNW3.otf");
}

@font-face {
    font-family: "Hiragino Kaku Gothic stdN W5";
    src: url("../fonts/Hiragino-Kakugo-StdNW5.otf");
}

@font-face {
    font-family: "Kozuka Gothic Pro R";
    src: url("../fonts/KozGoPro-Regular.otf");
}

@font-face {
    font-family: "Toppan Bunkyu Midashi Gothic ExtraBold";
    src: url("../fonts/ToppanBunkyuMidashiGothicStdN-ExtraBold.otf");
}

@font-face {
    font-family: "Acumin Pro Condensed";
    src: url("../fonts/Acumin-Pro-Cond-Black-Italic.otf");
}

body {
    line-height: 1.6;
    margin: 0 auto;
    color: #014a9c;
    font-family: "Toppan Bunkyu Midashi Gothic ExtraBold", sans-serif;
    font-size: 16px;
    /*max-width: 1920px;*/
}

a {
    color: #000;
    text-decoration: none;
    outline: none;
    transition: all 0.3s ease-in;
    -webkit-tap-highlight-color: transparent;
}

a:hover {
    text-decoration: none;
    opacity: 0.7;
}

.clearfix {
    zoom: 1;
}

.clearfix::after {
    display: block;
    clear: both;
    height: 0;
    line-height: 0;
    visibility: hidden;
    content: ".";
}

ul li {
    list-style: none;
}

.pc {
    display: block;
}

.sp {
    display: none;
}

img {
    max-width: 100%;
}

/* Common */
.container {
    width: 30%;
    margin: 0 auto;
    max-width: 409px;
}

.l-inner {
    width: 90%;
    margin: 0 auto;
    max-width: 367px;
}

.mv-sec {
    display: flex;
    position: relative;
    background-color: #d3f0ff;
}

.mv-left,
.mv-right {
    display: flex;
    position: sticky;
    top: 0;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    flex-shrink: 0;
}

.mv-left {
    padding-bottom: 207px;
}

.mv-left .mv-left__logo {
    width: 57%;
    margin: 0 auto;
    max-width: 269px;
}

.mv-left .anchor {
    width: 65%;
    margin: 58px auto 0;
    max-width: 300px;
}

.mv-left .anchor .anchor__list:not(:last-child) {
    margin-bottom: 39px;
}

.mv-left .anchor .anchor__img {
    position: relative;
}

.mv-left .anchor .anchor__img::after {
    position: absolute;
    top: 50%;
    right: 0;
    width: 15px;
    height: 15px;
    background: url("../image/ico_arr.png") no-repeat center/contain;
    content: "";
    transform: translateY(-50%);
}

.mv-right {
    padding-bottom: 166px;
    font-size: 24px;
}

.mv-right .mv-right__ttl {
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    margin: 0 auto;
    background-image: linear-gradient(to bottom, transparent 75%, #ffff00b3 25%);
    text-align: center;
}

.member {
    width: 322px;
    margin: 38px auto 0;
}

.member .step {
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 3px;
    padding-bottom: 10px;
}

.member .step:not(:last-child)::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 15px;
    height: 15px;
    background: url("../image/ico_down.png") no-repeat center/contain;
    content: "";
    transform: translateX(-50%);
}

.step .step__no {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21%;
    height: 70px;
    margin-right: 14px;
    background: url("../image/img_yellow_list.png") no-repeat center/cover;
    max-width: 66px;
}

.step .step__txt {
    width: 75%;
}

.wester-logo {
    position: absolute;
    right: 0;
    bottom: 4%;
    padding-right: 20px;
}

.mv-mid {
    width: 100%;
}

.mv-main {
    padding-bottom: 40px;
    background: url("../image/img_mv_bg.jpg") no-repeat center/cover;
}

.mv-mid .mv-main-img {
    width: 100%;
    max-width: 409px;
}

.mv-main__heading,
.app-step__heading{
        margin: auto;
        text-align: center;
}

.mv-main-txt {
    position: relative;
    display: inline-block;
    line-height: 2.2;
    padding: 23px 50px 0;
    font-size: 20px;
    text-align: center;
}

.mv-main-txt::before,
.mv-main-txt::after {
    position: absolute;
    top: 55%;
    width: 74px;
    height: 1px;
    background-color: #014a9c;
    content: "";
}

.mv-main-txt::before {
    left: 0;
    transform: rotateZ(70deg);
}

.mv-main-txt::after {
    right: 0;
    transform: rotateZ(-70deg);
}

.mv-main-ttl {
    position: relative;
    width: 95%;
    margin: 10px auto 0;
    padding-top: 5px;
    background-image: linear-gradient(to bottom, transparent 60%, #ffff00b3 40%);
    font-size: 31px;
    text-align: center;
    letter-spacing: 2.5px;
    max-width: 295px;
}

.mv-main-ttl::before,
.mv-main-ttl::after {
    position: absolute;
    top: 0;
    width: 8px;
    height: 8px;
    background-color: #ffff00;
    content: "";
    border-radius: 50%;
}

.mv-main-ttl::before {
    left: 25px;
}

.mv-main-ttl::after {
    left: 57px;
}

/* Opening */
.opening-blk {
    line-height: 1.8;
    padding: 49px 0;
    background: url("../image/img_opening.jpg") no-repeat center/cover;
    text-align: center;
}

.opening-blk p:not(:last-child) {
    margin-bottom: 9px;
}

/* Section Positive */
.positive-sec {
    margin-top: -22px;
    padding: 230px 0 6px;
    background: url("../image/img_positive_bg.png") no-repeat center/cover;
}

.positive-card {
    width: 100%;
}

.positive-card:nth-child(2) {
    margin-top: -45px;
}

/* Section Info */
.info-sec {
    padding: 45px 0 49px;
    background: url("../image/img_blue_cross.png") no-repeat top/100%,
        url("../image/img_blue_cross.png") no-repeat bottom/100%, #ffff00;
    text-align: center;
}

.info__ttl {
    font-size: 27px;
}

.info__p-logo {
    width: 50%;
    margin: 20px auto;
    max-width: 94px;
}

.info__txt {
    line-height: 1.75;
    margin-bottom: 26px;
}

.info-cards {
    margin-bottom: 33px;
}

.saving,
.usage {
    margin-bottom: 10px;
    padding: 13px 21px 18px 22px;
    background-color: #ffffff;
    border-radius: 11px;
}

.saving__ttl,
.usage__ttl {
    font-size: 24px;
}

.saving__txt,
.usage__txt {
    display: inline-block;
    position: relative;
    margin-bottom: 4px;
    background-color: #194a9c;
    color: #ffffff;
    border-radius: 3px;
}

.saving__txt {
    padding: 0 5px;
    font-size: 13px;
}

.saving__item {
    margin-right: 7px;
}

.saving__item:first-child {
    width: 25%;
}

.saving__item:first-child .saving__img {
    width: 100%;
    max-width: 84px;
}

.saving__item:nth-child(2) {
    width: 25%;
    margin-right: 9px;
}

.saving__item:nth-child(2) .saving__img {
    width: 94%;
    max-width: 84px;
}

.saving__item:last-child {
    width: 50%;
    margin-right: 0;
}

.saving__item:last-child .saving__img {
    width: 100%;
    max-width: 154px;
}

.saving__item:last-child .saving__txt {
    padding: 2px 10px 0;
    font-size: 12px;
}

.usage__txt {
    padding: 2px 5px;
    font-size: 10px;
}

.saving__txt::after,
.usage__txt::after {
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 5px;
    height: 5px;
    background-color: #194a9c;
    content: "";
    transform: translateX(-50%) rotate(45deg);
}

.saving__content,
.usage__content {
    display: flex;
    padding: 13px 0 0;
}

.saving__img,
.usage__img {
    margin: 0 auto;
}

.usage__item:first-child {
    width: 37%;
}

.usage__item:first-child .usage__img {
    width: 100%;
    max-width: 67px;
}

.usage__item:nth-child(2) {
    width: 33%;
}

.usage__item:nth-child(2) .usage__img {
    width: 100%;
    max-width: 83px;
}

.usage__item:last-child {
    width: 30%;
}

.usage__item:last-child .usage__img {
    width: 100%;
    max-width: 84px;
}

.usage__item:first-child .usage__txt {
    padding: 2px 10px 0;
}

/* Common Button */

.btn{
    text-align: center;
}
.cmn-btn {
    display: inline-block;
    position: relative;
    width: 292px;
    margin: 0 auto;
    padding: 13px 40px 15px;
    border: 1px solid #014a9c;
    background-color: #014a9c;
    color: #ffffff;
    border-radius: 11px;
}

.cmn-btn::after {
    position: absolute;
    top: 50%;
    right: 22px;
    width: 16px;
    height: 16px;
    background: url("../image/ico_white_arr.png") no-repeat center/contain;
    content: "";
    transform: translateY(-50%);
}

/* White Button */
.cmn-btn.white-btn {
    padding: 18px 33px 18px;
    box-shadow: 0 5px 0 #014a9c;
    background-color: #ffffff;
    color: #014a9c;
    font-size: 19px;
    border-color: #ffffff;;
}

.white-btn.cmn-btn::after {
    background: url("../image/ico_arr.png") no-repeat center/contain;
}

/*Section Point One */
.point-one-sec {
    position: relative;
    padding: 258px 0 0;
    background: url("../image/img_bgg.jpg") no-repeat center/cover;
}

.point-one__img {
    position: absolute;
    top: 30px;
    left: 14px;
    width: 56%;
    max-width: 226px;
}

.point-one__txtimg {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 22px;
    max-width: 302px;
}

.point-one__txt {
    line-height: 1.8;
    margin-bottom: 51px;
    padding: 0 8.5%;
    color: #ffffff;
}

.point-one__bnr {
    width: 100%;
}

/* Section JR Group */
.jr-gp-sec {
    padding: 16px 10px 10px;
    background-color: #ffffff;
}

.jr-gp__box {
    padding: 33px 0 28px;
    border: 1px solid #014a9c;
    text-align: center;
}

.jr-gp__box .l-inner {
    width: 95%;
}

.jr-gp__txt {
    line-height: 1.8;
    font-size: 18px;
}

/* Service */
.service {
    margin: 40px 0;
}

.service__heading {
    margin-bottom: 19px;
    padding: 13px 5px;
    background-color: #014a9c;
    color: #ffffff;
    font-size: 18px;
}

.service__ttl {
    margin-bottom: 6px;
    font-size: 26px;
    letter-spacing: 1px;
}

.service__txt {
    margin-bottom: 4px;
    letter-spacing: 0.8px;
}

.yellowbg-no {
    display: inline-block;
    line-height: 1.2;
    padding: 0 5px;
    background-image: linear-gradient(to bottom, transparent 60%, #ffff00b3 0);
    font-size: 18px;
}

.yellowbg-no small {
    margin: 0 10px;
    font-size: 45px;
}

/* Region */
.region {
margin-bottom: 10px;
}

.region__heading {
    padding: 8px 0;
    background: url('../image/img_shopbg.jpg')no-repeat center/cover;
    color: #ffffff;
letter-spacing:1.5px;
    font: 400 18px/1.2 'Helvetica',sans-serif;
}

.region__content {
    display: flex;
    flex-wrap: wrap;
    padding: 19px 21px 2px 22px;
}

.region__content li{
    width: 32%;
    margin-bottom: 5px;
    max-width: 102px;
}
.region__content li:not(:nth-child(3n)) {
margin-right: 2%;
}

.note{
    margin-top: 17px;
    padding: 22px 17px 27px;
    background-color: #f5f5f5;
    text-align: left;
    font: 400 14px/1.2 'Hiragino Kaku Gothic stdN W3',sans-serif;
}

.note p,
.note li{
margin-bottom: 4px;
}

/*Booking */
.booking{
padding: 41px 0 0;
}

.booking.web{
    padding: 35px 0 0;
}

.booking__ttl{
    line-height: 1.54;
    margin-bottom: 5px;
    font-size: 26px;
    letter-spacing: 1px;
}

.booking__txt{
display: block;
line-height: 1.85;
letter-spacing: 0.7px;
}

.booking__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0;
}

.booking__content li{
    width: 41%;
    margin-bottom: 23px;
    max-width: 148px;
}

.booking__content li:nth-child(2n){
    width: 37%;
    margin-left: 19px;
    max-width: 133px;
}

.booking .note{
    margin: 6px 0 0;
}

.booking.web .booking__ttl{
    line-height: 1.4;
    margin-bottom: 5px;
}

.booking.web .booking__content{
    padding: 22px 0 0;
}

.booking.web .booking__content li{
    width: 45%;
    margin-bottom: 6px;
    max-width: 155px;
}

.booking.web .booking__content li:nth-child(2n){
    width: 45%;
    margin-left: 14px;
    max-width: 155px;
}

.booking.web .note{
    margin: 11px 0 24px;
}

/* Campaign Section */
.campaign-sec{
    padding: 52px 0 1px;
    background: url('../image/img_campaign_bg.jpg')no-repeat center/cover;
}

.campaign__ttl{
    line-height: 1.65;
    color: #ffffff;
    font-size: 23px;
    text-align: center;
    letter-spacing: 1.4px;
}

.campaign__detail{
    margin: 22px 0 20px;
    color: #ffffff;
    font: 400 14px/1.5 'Hiragino Kaku Gothic stdN W3',sans-serif;
}


 .campaign__explain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 35px 0 50px;
    text-align: center;
 }

 .campaign__explain-item{
    width: 44%;
    font-size: 14px;
 }
 .campaign__explain-item:not(:nth-child(2n)) {
    margin-right: 12%;
}

 .campaign__explain-ttl{
    margin-bottom: 12px;
    color:#ffffff;
    font-size: 14px;
 }

 .campaign__explain-content{
    line-height: 2.2;
    padding: 10px 5px 3px;
    background-color: #ffffff;
    color: #014a9c;
    border-radius: 5px;
 }
 .campaign__explain-item:nth-child(2n) .campaign__explain-content{
    position: relative;
 }

 .campaign__explain-item:nth-child(2n) .campaign__explain-content::before {
    position: absolute;
    top: 50%;
    left: -30px;
    width: 19px;
    height: 19px;
    background: url('../image/ico_plus_lg.png')no-repeat center/contain;
    content: "";
    transform: translateY(-50%);
}

.campaign__total{
    position: relative;
    width: 54%;
    margin: 0 auto;
    padding: 2px 14px 5px;
    background-color: #ffffff;
    color: #014a9c;
    border-radius: 5px;
}

.campaign__total::before {
    position: absolute;
    top: -39px;
    right: 0;
    left: 0;
    width: 14px;
    height: 22px;
    margin: 0 auto;
    background: url('../image/ico_equal.png')no-repeat center/contain;
    content: "";
}

.campaign__total .yellowbg-no{
    font-size: 25px;
}

.campaign__total .yellowbg-no small{
    font-size: 61px;
}

.campaign__notice{
    margin: 17px 0 39px;
    color: #ffffff;
    font-size: 12px;
}

.campaign-sec .btn{
    margin-bottom: 70px;
}


/* Register */
.register{
position: relative;
padding: 60px 0 0;
background-color: #ffffff;
text-align: center;
border-radius: 11px;
}

.register::before{
position: absolute;
top: -50px;
left: 50%;
width:98px;
height: 103px;
background: url('../image/img_splash.png')no-repeat center/contain;
content: '';
transform: translateX(-50%);
}

.register__txt{
    line-height: 1.5;
    padding: 8px 10px 29px;
    font-family:'Hiragino Kaku Gothic stdN W3',sans-serif ;
}

.register__txt span{
    display: inline-block;
    padding: 0 1px 1px;
    background-image: linear-gradient(to bottom, transparent 55%, #ffff00b3 0);
}

.register__txt span small{
    font-size: 13px;
}

.register__download-txt{
    line-height: 1.48;
    margin: 45px 0 30px;
    font-size: 23px;
    letter-spacing: 1.8px;
}

.register__applist{
    position: relative;
    margin-bottom: 16px;
    padding: 15px 0 33px;
}

.register__applist:not(:last-child)::after{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width:88%;
    height: 2px;
    background: url('../image/img_dotted_line.png')no-repeat center/100%;
    content: '';
}

.register__applogo{
width: 45%;
margin: 0 auto;
max-width: 162px;
}

.register__appstore{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
margin: 23px 0 11px;
}

.register__applist:last-child .register__appstore{
    margin: 11px 0 11px;
    }

.register__appstore li:not(:nth-child(2n)){
    margin-right: 3%;
}

.register__appstore .applestore{
width:50% ;
max-width: 128px;
}

.register__appstore .playstore{
    width: 50%;
    max-width:159px;
}

.register__downloadapp .how-to-register{
    color: #2874be;
    font: 400 16px/1 'Hiragino Kaku Gothic stdN W3',sans-serif;
}

.register__downloadapp .how-to-register a{
    color: #2874be;
    text-decoration: underline;
}

/* Section Point Two */
.point-two-sec {
    position: relative;
    padding: 258px 0 0;
    background: url("../image/img_circlebg.jpg") no-repeat center/cover;
}

.point-two__img {
    position: absolute;
    top: 24px;
    left: 14px;
    width: 56%;
    max-width: 226px;
}

.point-two__txtimg {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 22px;
    max-width: 302px;
}

.point-two__bnr {
    width: 100%;
    margin-bottom: 25px;
}

/* Step */
.app-step__heading{
    margin-bottom: 64px;
}

.app-step__txt {
    display: inline-block;
    position: relative;
    padding: 9px 44px;
    line-height: 1.5;
    font-size: 26px;
    color: #ffffff;
}

.app-step__txt::before,
.app-step__txt::after {
    position: absolute;
    top: 43%;
    width: 40px;
    height: 1px;
    background-color: #ffffff;
    content: "";
}

.app-step__txt::before {
    left: 0;
    transform: rotateZ(70deg);
}

.app-step__txt::after {
    right: 0;
    transform: rotateZ(-70deg);
}

.app-step__content{
    padding: 0 0 15px;
}

.app-step__item{
    position: relative;
    padding: 18px 18px 22px 11px;
    background-color: #FFFFFF;
    border-radius: 16px;
}

.app-step__item:not(:last-child){
    margin-bottom: 63px;
}

.app-step__item:not(:last-child)::after{
    position: absolute;
    right: 29%;
    bottom: -42px;
    width: 22px;
    height: 18px;
   background: url('../image/img_yellow_dwn_arr.png')no-repeat center/contain;
    content: "";
}

.app-step__item:nth-child(2){
    padding: 23px 18px 19px 11px;
}

.app-step__item:nth-child(3){
    padding: 39px 18px 36px 11px;
}

.app-step__item:nth-child(2) .app-step__no{
    top: -30px;
}
.app-step__item:nth-child(3) .app-step__no{
    top: -47px;
}

.app-step__no{
    position: absolute;
    top: -51px;
    width: 35%;
    max-width: 129px;
}

.app-step__no span{
    position: absolute;
    top: 45%;
    left: 50%;
    line-height: 1;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
}

.app-step__no small{
    display: block;
    line-height: 0.8;
    font-family: "Acumin Pro Condensed", sans-serif;
    font-size: 39px;
    font-style: italic;
}


.app-step__explain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 57.5%;
    margin-left: auto;
    font-size: 14px;
}

.app-step__explain .social-acc{
    font: 9px/1.5 'Kozuka Gothic Pro R',sans-serif;
    letter-spacing: 0.7px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    margin-top: 5px;
    padding: 7px 11px;
}

.app-step__explain .social-acc img{
    margin-right: 6px;
    vertical-align: middle;
    width: 10px;
    height: 11px;
}

/* Present */
.present{
    padding: 40px 0 0;
    margin: 29px 0 48px;
}

.present__ttl{
    background-color: #007be0;
    color: #ffffff;
    text-align: center;
    padding: 17px 5px;
    font-size: 22px;
    line-height: 1.4;
    letter-spacing: 1.8px;
}

.present__content{
background-color: #ffffff;
padding: 31px 31px 35px 32px;
font-size: 15px;
line-height: 1.9;
}

.present__item:not(:last-child){
margin-bottom: 30px;
}

.present__rules{
position:relative;
z-index: 1;
}

.present__rules::after{
    position: absolute;
    content: '';
    z-index: -1;
    right: -19%;
    bottom: 16%;
    width: 115px;
    height: 108px;
    background: url('../image/img_present_yellow_splash.png')no-repeat center/cover;
}

/* Banner */
.banner{
    margin-top: 46px;
    padding-bottom: 21px;
}

.banner__txt{
    font-size: 24px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
}

.banner__img{
    margin-bottom: 5px;
    width: 100%;
}

.banner ul{
margin-bottom: 31px;
}

.banner .btn .cmn-btn.white-btn{
font-size: 16px;
letter-spacing: 0.8px;
}

/* Section Campaign Info */
.campaign-info{
padding: 205px 0 0;
margin-top: -1px;
background: url('../image/img_info_bg.jpg')no-repeat top/cover;
}

.campaign-info__heading{
    background-color: #014a9c;
    color: #ffffff;
    border-radius: 16px 16px 0 0;
    text-align: center;
    padding: 17px 5px;
    font-size: 22px;
    line-height: 1.4;
    letter-spacing: 1.8px;
}


